@media (min-width: 720px) {
  .page-header {
    height: 7rem;
    padding: 0.5rem 2rem;
  }

  .nav-div {
    height: 6rem;
    max-width: 103rem;
    margin-left: auto;
    margin-right: auto;
  }

  .toggle-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48.4rem;
    height: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .nav-links-out {
    width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links-out a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.3px;
  }

  .contact {
    color: white;
    text-decoration: none;
    background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
    width: 15.4rem;
    height: 5.1rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.3px;
  }

  .text-div {
    width: 52rem;
    margin-left: 0;
  }

  .body-sec {
    height: 70vh;
    width: 100%;
    max-width: 103rem;
    justify-content: space-between;
    padding: 2rem;
  }

  .logos {
    display: flex;
    flex-direction: column;
    height: 19.9rem;
    width: 3.5rem;
    justify-content: space-between;
  }

  .logos {
    animation: moveInFromRight 0.5s ease-in-out;
  }

  .logo a {
    width: 100%;
    height: 3.5rem;
  }

  #logo,
  #logo1,
  #logo2,
  #logo3 {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%); */
  }
}

@media (max-width: 719px) {
  .page-header {
    position: relative;
    margin-right: 0;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
    /* z-index: 20; */
    width: 50vw;
    padding-top: 20rem;
    padding-bottom: 20rem;
    margin: 3rem 0;
    margin: 3rem 0;
    background: rgba(213, 209, 209, 0.97);
    /* background: linear-gradient(214.02deg, #b75cff80 6.04%, #671ae480 92.95%); */
    position: absolute;
    right: 0;
    top: 3rem;
    border: 2px solid #671ae4;
    /* animation: moveInFromRight 0.5s ease-in-out; */
  }
  .nav-links.show .nav-links-out {
    display: flex;
    flex-direction: column;
  }

  .nav-links.show a {
    /* color: white; */
    color: #671ae4;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.3px;
    margin: 1rem auto;
  }

  .nav-links.show .contact {
    color: white;
    text-decoration: none;
    background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
    width: 15.4rem;
    height: 5.1rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.3px;
    margin: 0 auto;
  }

  .nav-links.show .contact:hover {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
  }
  /* 
  .body-sec {
    width: 90%;
  } */
  .text-div {
    width: 100%;
    max-width: 550px;
  }

  /* @keyframes moveInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    80% {
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(-20px);
    }
  } */

  .sides_con {
    display: block;
  }
}

@media (max-width: 343px) {
  .text-div h1 span#color {
    display: block;
  }
}

@media (min-width: 500px) {
  .text-div h1 {
    font-size: 4.8rem;
    line-height: 5.26rem;
    padding: 2rem 0;
  }

  .text-div h3 {
    font-size: 3.5rem;
    line-height: 4.3rem;
  }

  .text-div a {
    font-size: 2rem;
    line-height: 1.936rem;
  }
}
