* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.485),
      rgba(0, 0, 0, 0.49)
    ),
    url(../pics/bg-2.jpg);
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.hero-div {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  background: linear-gradient(214.02deg, #b75cff80 6.04%, #671ae480 92.95%);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  padding: 0.5rem 2rem;
}

.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.profile {
  width: 11.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  flex: wrap;
}

.profile-word {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
}

.profile-name {
  color: white;
  height: 3.1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1rem;
}

#menu {
  color: white;
  font-size: 3rem;
  width: 2.6rem;
  font-weight: 900;
  line-height: 3rem;
  height: 3rem;
}

.nav-links {
  display: none;
}

.body-sec {
  /* width: 90vw; */
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 2rem;
}

.text-div {
  /* background-color: red; */
  /* max-width: 51.2rem; */
  margin-left: auto;
  margin-right: auto;
}

.text-div h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 3.7rem;
  line-height: 7rem;
  padding: 2rem 0;
}

.text-div h1 span#color {
  background: -webkit-linear-gradient(#671ae4, #b75cff, #671ae4, #b75cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-div h1 span#job {
  color: white;
  font-size: 3rem;
  display: block;
  line-height: 6rem;
}

.text-div p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4rem;
  /* line-height: 2.25rem; */
  color: #d5d1d1f7;
}

.text-div p#mes {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-div a {
  width: 15.4rem;
  height: 5.1rem;
  border-radius: 2rem;
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  color: white;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.36px;
  margin-top: 2rem;
  /* margin-left: auto;
  margin-right: auto; */
  display: block;
  text-align: center;
  padding-top: 1.5rem;
}

.logos {
  display: none;
}
