*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.hero-div{
width: 100%;
/* background: url(../pics/background2.jpg);
background-size: cover;
background-position: 50% 50%; */
height: 895px;}



.page-header{
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 99;
background:linear-gradient(214.02deg, #b75cff80 6.04%, #671ae480 92.95%);
height: 50px;
}

.nav-div{
width: 100%;
height: 40px;
max-width: 1200px;
/* margin: 5px auto 5px auto; */
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: space-between;
align-items: center;
/* flex-wrap: wrap; */
}

.nav-links{
display: none;}

#menu{
color: white;
font-size: 30px;
width: 26px;
height: 30px;
}


/* .nav-links-item{
display: none;

} */

/* .nav-links-item:hover{
background-color: white;
color: rgba(159, 57, 218);
} */

/* .home{
width: 80px;
}

.about{
width: 80px;
}

.service{
width: 103px;
}

.testimonial{
width: 135px;
}

.contact{
width: 127px;
border-radius: 50px;
color: white;
background:linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%); 
padding: 10px 20px;
}

.contact:hover{
background: white;
color: #B75CFF;
} */

.profile{
width: 115px;
height: 40px;
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.profile-word{
width: 40px;
height: 40px;
border-radius: 20px;
background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);;
color: white;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
font-weight: 500;
font-size: 20px;
font-family: 'Poppins', sans-serif;
}

.profile-name{
color: white;
text-decoration: none;
width: 65px;
height: 31px;
font-family: 'Poppins', sans-serif;
font-size: 20px;
font-weight: 700;
}


.body-sec{
width: 100%;
max-width: 1200px;
margin-left: auto;
margin-right: auto;
margin-top: 150px;
}


.hero-text{
width: 90%;
height: 360px;
font-family: 'Poppins', sans-serif;
font-size: 50px;
font-weight: 700;
line-height: 60px;
margin-left: auto;
margin-right: auto;
margin-top: 150px;
text-align: center;
}

.name{
color: #B75CFF;
width: 116px;
line-height: 60px;
font-size: 50px;
font-weight: 700;}

.profile-img{
/* width: 393px;
height: 600px; */
width: 100%;
display: flex;
justify-content: center;
/* margin-right: auto;
margin-left: auto; */
background-color: #B75CFF;
}

.prof{
width: 90%;
margin-left: auto;
margin-right: auto;
display: flex;
margin-top: 40px;
justify-content: space-around;}

.hero-img{
width: 422px;
height: 639px;
margin-left: auto;
margin-right: auto;
border-radius: 400px;
filter: blur(100);
}

.job1div{
display: none;}

.job2div{
display: none;}

@media (min-width: 486px) and (max-width: 579px){
.hero-text{
height: 300px;}

.hero-img{
width: 426px;
height: 645px;}
}
@media (min-width: 580px) and (max-width: 916px){
.hero-text{
height: 240px;}

.hero-div{
height: 1321px;}}

@media(min-width: 917px) and (max-width: 1098px){
.hero-text{
height: 180px;}}

@media (min-width: 1099px){
.hero-text{
height: 120px;}}

@media (min-width: 760px){
/* .page-header{
height: 61px;} */

.toggle-btn{
display: none;}

.nav-links{
display: flex;
width: 484px;
height: 61px;
justify-content: space-around;
align-items: center;
margin-top: auto;
margin-bottom: auto;
}

.nav-links-out{
width: 310px;
display: flex;
align-items: center;
justify-content: center;
/* background-color: red; */
margin-top: auto;
margin-bottom: auto;

}



/* .hero-text{
width: 90%;
height: 120px;
margin-left: auto;
margin-right: auto;
} */

.nav-links-out a{
display: block;
height: 51px;
font-family: 'Poppins', sans-serif;
color: white;
text-decoration: none;
font-size: 20px;
line-height: 30px;
}


.nav-links-out a + .nav-links-out a{
padding-left: 10px;


}
.nav-links-item:hover{
background-color: white;
color: rgba(159, 57, 218);
}


}

@media (min-width: 1024px){
.job1div{
display: flex;
width: 250px;
margin-right: auto;
margin-left: auto;


}

.job2div{
display: flex;
width: 250px;
margin-right: auto;
margin-left: auto;


}

.job1btn{
width: 291px;
height: 96px;
background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%) ;
display: flex;
margin-top: 32px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 145px;
color: white;}

.job2btn{
width: 291px;
height: 96px;
background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
display: flex;
margin-top: 339px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 145px;
color: white;}

.init1h{
width: 203px;
height: 24px;
font-size: 20px;
font-family: 'Poppins', sans-serif;
font-weight: 700;
line-height: 24px;
text-align: center;}

.init1t{
width: 203px;
height: 36px;
font-size: 20px;
line-height: 36px;
font-family: 'Poppins', sans-serif;
text-align: center;
}

.init2h{
width: 203px;
height: 24px;
font-size: 20px;
font-weight: 700;
line-height: 24px;
font-family: 'Poppins', sans-serif;
text-align: center;}

.init2t{
width: 203px;
height: 36px;
font-size: 20px;
line-height: 36px;
font-family: 'Poppins', sans-serif;
text-align: center;}

.profile-img{
width: 393px;
height: 600px;
display: block;
margin-left: auto;
margin-right: auto;}


.hero-img{
width: 393px;
height: 600px;
border-radius: 200px;}


}